Install/run/EndPoints/xsd/mspGeometry.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.multispeak.org/V5.0/gml" xmlns:xlink="http://www.w3.org/1999/xlink" targetNamespace="http://www.multispeak.org/V5.0/gml" elementFormDefault="qualified" version="2.1.2">
	<annotation>
		<appinfo>geometry.xsd v2.1.2 2002-07</appinfo>
		<documentation xml:lang="en">
      GML Geometry schema. Copyright (c) 2001,2002 OGC, All Rights Reserved.
    </documentation>
	</annotation>
	<annotation>
		<documentation>MultiSpeak mspGeometry Schema. V5.0.7 Release (Version = "V5.0.7 Release") Dated: 2/20/2015.   Cooperative Energy Services (CES) reserves exclusive discretion to determine the content and definition of MultiSpeak®,a federally registered trademark of NRECA. Copyright © 2000-2015 CES. 
		
The MultiSpeak Initiative (www.multispeak.org) has incorporated in this schema the Geography Markup Language Version 2.1.2 (GML) gemometry.xsd schema.

Disclaimer: Modifications of this document have been made, and will be made, on the basis of consensus among the participants of the MultiSpeak Initiative. Cornice Engineering, Inc. (Cornice) hereby prepared this document to reflect the input provided by the participants as of the date listed above.  This work is being completed under contract to the National Rural Electric Cooperative Association (NRECA) Neither Cornice nor NRECA (i) makes any representation or warranty, express or implied, as to the suitability of this information for any purpose whatsoever, or (ii) assumes any responsibility for damages or other liability whatsoever. 
		
		The MultiSpeak Initiative (www.multispeak.org) has incorporated in this schema the Geography Markup Language Version 2.1.2 (GML) gemometry.xsd schema.
GML is copyrighted material provided by the Open GIS Consortium, Inc., and is used by MultiSpeak with permission.    The original schema is available
from the Open GIS Consortium at www.opengis.org.  Copyright   2002 Open GIS Consortium, Inc.  All Rights Reserved. (http://www.opengis.org/Legal/).

THIS SOFTWARE AND DOCUMENTATION IS PROVIDED "AS IS," AND COPYRIGHT HOLDERS
MAKE NO REPRESENTATIONS OR WARRANTIES, EXPRESS OR IMPLIED, INCLUDING BUT NOT
LIMITED TO, WARRANTIES OF MERCHANTABILITY OR FITNESS FOR ANY PARTICULAR
PURPOSE OR THAT THE USE OF THE SOFTWARE OR DOCUMENTATION WILL NOT INFRINGE
ANY THIRD PARTY PATENTS, COPYRIGHTS, TRADEMARKS OR OTHER RIGHTS.

COPYRIGHT HOLDERS WILL NOT BE LIABLE FOR ANY DIRECT, INDIRECT, SPECIAL OR
CONSEQUENTIAL DAMAGES ARISING OUT OF ANY USE OF THE SOFTWARE OR
DOCUMENTATION.</documentation>
	</annotation>
	<!-- bring in the XLink attributes -->
	<import namespace="http://www.w3.org/1999/xlink" schemaLocation="xlinks.xsd"/>
	<!-- ==============================================================
       global declarations
  =================================================================== -->
	<element name="_Geometry" type="gml:AbstractGeometryType" abstract="true"/>
	<element name="_GeometryCollection" type="gml:GeometryCollectionType" abstract="true" substitutionGroup="gml:_Geometry"/>
	<element name="geometryMember" type="gml:GeometryAssociationType"/>
	<element name="pointMember" type="gml:PointMemberType" substitutionGroup="gml:geometryMember"/>
	<element name="lineStringMember" type="gml:LineStringMemberType" substitutionGroup="gml:geometryMember"/>
	<element name="polygonMember" type="gml:PolygonMemberType" substitutionGroup="gml:geometryMember"/>
	<element name="outerBoundaryIs" type="gml:LinearRingType"/>
	<element name="innerBoundaryIs" type="gml:LinearRingType"/>
	<!-- primitive geometry elements -->
	<element name="Point" type="gml:PointType" substitutionGroup="gml:_Geometry"/>
	<element name="LineString" type="gml:LineStringType" substitutionGroup="gml:_Geometry"/>
	<element name="LinearRing" type="gml:LinearRingType" substitutionGroup="gml:_Geometry"/>
	<element name="Polygon" type="gml:PolygonType" substitutionGroup="gml:_Geometry"/>
	<element name="Box" type="gml:BoxType"/>
	<!-- aggregate geometry elements -->
	<element name="MultiGeometry" type="gml:GeometryCollectionType" substitutionGroup="gml:_Geometry"/>
	<element name="MultiPoint" type="gml:MultiPointType" substitutionGroup="gml:_Geometry"/>
	<element name="MultiLineString" type="gml:MultiLineStringType" substitutionGroup="gml:_Geometry"/>
	<element name="MultiPolygon" type="gml:MultiPolygonType" substitutionGroup="gml:_Geometry"/>
	<!-- coordinate elements -->
	<element name="coord" type="gml:CoordType">
		<annotation>
			<documentation>This is one of two optional formats for expressing coordinates in GML.  This option is the one that shall be used for expressing points in MultiSpeak data exchanges.</documentation>
		</annotation>
	</element>
	<element name="coordinates" type="gml:CoordinatesType">
		<annotation>
			<documentation>This is one of two optional formats for expressing coordinates in GML.  This option  shall not be used for expressing points in MultiSpeak data exchanges.</documentation>
		</annotation>
	</element>
	<!-- this attribute gives the location where an element is defined -->
	<attribute name="remoteSchema" type="anyURI"/>
	<!-- ==============================================================
       abstract supertypes
  =================================================================== -->
	<complexType name="AbstractGeometryType" abstract="true">
		<annotation>
			<documentation>
        All geometry elements are derived from this abstract supertype; 
        a geometry element may have an identifying attribute (gid). 
        It may be associated with a spatial reference system.
      </documentation>
		</annotation>
		<complexContent>
			<restriction base="anyType">
				<attribute name="gid" type="ID" use="optional"/>
				<attribute name="srsName" type="anyURI" use="optional"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="AbstractGeometryCollectionBaseType" abstract="true">
		<annotation>
			<documentation>
        This abstract base type for geometry collections just makes the 
        srsName attribute mandatory.
      </documentation>
		</annotation>
		<complexContent>
			<restriction base="gml:AbstractGeometryType">
				<attribute name="gid" type="ID" use="optional"/>
				<attribute name="srsName" type="anyURI" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<attributeGroup name="AssociationAttributeGroup">
		<annotation>
			<documentation>
        These attributes can be attached to any element, thus allowing it 
        to act as a pointer. The 'remoteSchema' attribute allows an element 
        that carries link attributes to indicate that the element is declared 
        in a remote schema rather than by the schema that constrains the 
        current document instance.  
      </documentation>
		</annotation>
		<attributeGroup ref="xlink:simpleLink"/>
		<attribute ref="gml:remoteSchema" use="optional"/>
	</attributeGroup>
	<complexType name="GeometryAssociationType">
		<annotation>
			<documentation>
        An instance of this type (e.g. a geometryMember) can either 
        enclose or point to a primitive geometry element. When serving 
        as a simple link that references a remote geometry instance, 
        the value of the gml:remoteSchema attribute can be used to 
        locate a schema fragment that constrains the target instance.
      </documentation>
		</annotation>
		<sequence minOccurs="0">
			<element ref="gml:_Geometry"/>
		</sequence>
		<attributeGroup ref="xlink:simpleLink"/>
		<attribute ref="gml:remoteSchema" use="optional"/>
		<!-- <attributeGroup ref="gml:AssociationAttributeGroup"/> -->
	</complexType>
	<complexType name="PointMemberType">
		<annotation>
			<documentation>Restricts the geometry member to being a Point instance.</documentation>
		</annotation>
		<complexContent>
			<restriction base="gml:GeometryAssociationType">
				<sequence minOccurs="0">
					<element ref="gml:Point"/>
				</sequence>
				<attributeGroup ref="gml:AssociationAttributeGroup"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="LineStringMemberType">
		<annotation>
			<documentation>Restricts the geometry member to being a LineString instance.</documentation>
		</annotation>
		<complexContent>
			<restriction base="gml:GeometryAssociationType">
				<sequence minOccurs="0">
					<element ref="gml:LineString"/>
				</sequence>
				<attributeGroup ref="gml:AssociationAttributeGroup"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="PolygonMemberType">
		<annotation>
			<documentation>Restricts the geometry member to being a Polygon instance.</documentation>
		</annotation>
		<complexContent>
			<restriction base="gml:GeometryAssociationType">
				<sequence minOccurs="0">
					<element ref="gml:Polygon"/>
				</sequence>
				<attributeGroup ref="gml:AssociationAttributeGroup"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="LinearRingMemberType">
		<annotation>
			<documentation>Restricts the outer or inner boundary of a polygon instance 
			to being a LinearRing.</documentation>
		</annotation>
		<complexContent>
			<restriction base="gml:GeometryAssociationType">
				<sequence minOccurs="0">
					<element ref="gml:LinearRing"/>
				</sequence>
				<attributeGroup ref="gml:AssociationAttributeGroup"/>
			</restriction>
		</complexContent>
	</complexType>
	<!-- ==============================================================
       primitive geometry types
  =================================================================== -->
	<complexType name="PointType">
		<annotation>
			<documentation>
        A Point is defined by a single coordinate tuple.
      </documentation>
		</annotation>
		<complexContent>
			<extension base="gml:AbstractGeometryType">
				<sequence>
					<choice>
						<element ref="gml:coord"/>
						<element ref="gml:coordinates"/>
					</choice>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="LineStringType">
		<annotation>
			<documentation>
        A LineString is defined by two or more coordinate tuples, with 
        linear interpolation between them. 
      </documentation>
		</annotation>
		<complexContent>
			<extension base="gml:AbstractGeometryType">
				<sequence>
					<choice>
						<element ref="gml:coord" minOccurs="2" maxOccurs="unbounded"/>
						<element ref="gml:coordinates"/>
					</choice>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="LinearRingType">
		<annotation>
			<documentation>
        A LinearRing is defined by four or more coordinate tuples, with 
        linear interpolation between them; the first and last coordinates 
        must be coincident.
      </documentation>
		</annotation>
		<complexContent>
			<extension base="gml:AbstractGeometryType">
				<sequence>
					<choice>
						<element ref="gml:coord" minOccurs="4" maxOccurs="unbounded"/>
						<element ref="gml:coordinates"/>
					</choice>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="BoxType">
		<annotation>
			<documentation>
        The Box structure defines an extent using a pair of coordinate tuples.
      </documentation>
		</annotation>
		<complexContent>
			<extension base="gml:AbstractGeometryType">
				<sequence>
					<choice>
						<element ref="gml:coord" minOccurs="2" maxOccurs="2"/>
						<element ref="gml:coordinates"/>
					</choice>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="PolygonType">
		<annotation>
			<documentation>
        A Polygon is defined by an outer boundary and zero or more inner 
        boundaries which are in turn defined by LinearRings.
      </documentation>
		</annotation>
		<complexContent>
			<extension base="gml:AbstractGeometryType">
				<sequence>
					<element ref="gml:outerBoundaryIs"/>
					<element ref="gml:innerBoundaryIs" minOccurs="0" maxOccurs="unbounded"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<!-- ==============================================================
       aggregate geometry types
  =================================================================== -->
	<complexType name="GeometryCollectionType">
		<annotation>
			<documentation>
        A geometry collection must include one or more geometries, referenced 
        through geometryMember elements. User-defined geometry collections 
        that accept GML geometry classes as members must instantiate--or 
        derive from--this type.
      </documentation>
		</annotation>
		<complexContent>
			<extension base="gml:AbstractGeometryCollectionBaseType">
				<sequence maxOccurs="unbounded">
					<element ref="gml:geometryMember"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="MultiPointType">
		<annotation>
			<documentation>
        A MultiPoint is defined by one or more Points, referenced through 
        pointMember elements.
      </documentation>
		</annotation>
		<complexContent>
			<restriction base="gml:GeometryCollectionType">
				<sequence maxOccurs="unbounded">
					<element ref="gml:pointMember"/>
				</sequence>
				<attribute name="gid" type="ID" use="optional"/>
				<attribute name="srsName" type="anyURI" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="MultiLineStringType">
		<annotation>
			<documentation>
        A MultiLineString is defined by one or more LineStrings, referenced 
        through lineStringMember elements.
      </documentation>
		</annotation>
		<complexContent>
			<restriction base="gml:GeometryCollectionType">
				<sequence maxOccurs="unbounded">
					<element ref="gml:lineStringMember"/>
				</sequence>
				<attribute name="gid" type="ID" use="optional"/>
				<attribute name="srsName" type="anyURI" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="MultiPolygonType">
		<annotation>
			<documentation>
        A MultiPolygon is defined by one or more Polygons, referenced through 
        polygonMember elements. 
      </documentation>
		</annotation>
		<complexContent>
			<restriction base="gml:GeometryCollectionType">
				<sequence maxOccurs="unbounded">
					<element ref="gml:polygonMember"/>
				</sequence>
				<attribute name="gid" type="ID" use="optional"/>
				<attribute name="srsName" type="anyURI" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<!-- ==============================================================
       There are two ways to represent coordinates: (1) as a sequence 
       of <coord> elements that encapsulate tuples, or (2) using a 
       single <coordinates> string.
  =================================================================== -->
	<complexType name="CoordType">
		<annotation>
			<documentation>
        Represents a coordinate tuple in one, two, or three dimensions.
      </documentation>
		</annotation>
		<sequence>
			<element name="X" type="decimal"/>
			<element name="Y" type="decimal" minOccurs="0"/>
			<element name="Z" type="decimal" minOccurs="0"/>
			<element name="Bulge" type="float" minOccurs="0">
				<annotation>
					<documentation>Bulge is a factor that describes a curved line segment between two points. Bulge=0 is a straight line: Bulge=1 is a curve along the edge of a circle.  A bulge can be associated only with the second point of a line segment.  A negative bulge factor causes the line to bulge to the left as viewed from the first point to the second; a positive bulge causes the line to be curved to the right as viewed from the first point to the left. </documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>
	<complexType name="CoordinatesType">
		<annotation>
			<documentation>
        Coordinates can be included in a single string, but there is no 
        facility for validating string content. The value of the 'cs' attribute 
        is the separator for coordinate values, and the value of the 'ts' 
        attribute gives the tuple separator (a single space by default); the 
        default values may be changed to reflect local usage.
      </documentation>
		</annotation>
		<simpleContent>
			<extension base="string">
				<attribute name="decimal" type="string" use="optional" default="."/>
				<attribute name="cs" type="string" use="optional" default=","/>
				<attribute name="ts" type="string" use="optional" default="&#x20;"/>
			</extension>
		</simpleContent>
	</complexType>
</schema>
